h5 {
    color: navy;
    font-family: medio, sans-serif;
    font-weight: bold;
}

img, iframe {
    padding: 4px 2px 4px 2px;
}

#content {
    display: table-cell;
    vertical-align: top;
}

#content .row {
    margin-left: 0px;
    margin-right: 0px;
}