#container-all {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: table;
    min-height: 100vh;
}

#sidebar {
    min-width: 175px;
    max-width: 175px;
    background: #72bcd4;
    transition: all 0.3s;
    font-family: medio, sans-serif;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: top;
}

#sidebar .sidebar-header {
    padding-top: 20px;
    background: #72bcd4;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: navy;
}

#sidebar ul li a:hover {
    background: #89cff0;
    text-decoration: none;
}

#sidebar ul li.active > a {
    color: navy;
    background: #89cff0;
}