@font-face {
	font-family: medio;
	src: url("./font/medio.otf") format("opentype");
}

a {
  color: #00a2ed;
  text-decoration: none;
}

a:hover {
  color: #00a2ed;
  text-decoration: underline;
  cursor: pointer;
}

a.home {
  color: white;
  font-family: medio, sans-serif;
  letter-spacing: 2px;
}

a.home:hover {
  text-decoration: none;
}

nav {
  height: 60px;  
}

.navbar-teal {
  background-color: teal;
}

.bg-teal {
  background-color: teal;
}

body {
  font-family: sans-serif;
}

body#home {
  font-family: medio, sans-serif;
  letter-spacing: 2px;
}

div.homeLink {
  padding-left: 10px;
}

span.source {
  font-size: 0.8rem;
}

img#one-balloon {
  float: right;
}

img.words {
  margin: 15px;
  border: 10px solid lightblue;
}